@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

body{
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    width: fit-content;
    height: fit-content;
    padding: 2rem;
}

h1{
    text-align: center;
    color: rgb(64,64,64);
}

.button {
  
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: none;
    padding: 0 56px;
    height: 45px;
    line-height: 45px;
    border-radius: 7px;
    background-color: #0070f3;
    color: white;
    font-weight: 400;
    font-size: 16px;
    box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
    transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;
    margin-top: 1rem;
}


.search-container{
    display:grid;
}

input{
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 4px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    
}

input:focus{
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.wrong{
    color: crimson;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 14px;
}